@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6a5acd;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.main {
  width: 500px;
  max-width: 90%;
  text-align: center;
  background-color: white;
  padding: 25px 20px;
  border-radius: 10px;
}

.main > h1 {
    font-size: 30px;
    color: rgb(39, 39, 39);
    margin: 0 0 30px 0;
}
.main > form > input {
    width: 100%;
    padding: 10px;
    background-color: rgb(158, 153, 153);
    color: rgb(17, 5, 5);
    border: 0;
    margin: 10px 5px;
    border-radius: 10px;
}

.main > form > button {
    background-color: #6a5acd;
    padding: 15px;
    width: 100%;
    border: none;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.main > form > input:focus, 
.main > form > button:focus {
    outline: none;
    
}